body {
    background: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;    
}

h1 {
    font-family: 'Permanent Marker', cursive;
}

#quiz {
    font-family: 'Open Sans', sans-serif;
}
